@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
  background-color: #0096C7 !important;
}

.text-stroke-white {
  -webkit-text-stroke: 2px white;
  text-stroke: 2px white;
}

@layer utilities {
  /* Hide scrollbar for tabs */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .animate-infinite-scroll {
    animation: infinite-scroll 60s linear infinite;
  }
}

@keyframes infinite-scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-100% - 1.5rem)); }
}
